@media screen and (max-width: 996px) {
    .sectionCard {
      margin-right: 1rem;
    }
}

@media screen and (min-width: 996px) {
    .sectionCardCol {
        min-width: 225px;
        min-height: 370px;
    }
    .sectionCard {
        min-width: 225px;
        height: 370px;
    }
}

@media screen and (min-width: 1440px) {
    .sectionCard {
      min-width: 330px;
      height: 300px;
    }
}

.sectionCard {
    color: var(--ifm-color-gray-900);
    background-color: #F1FBFF;
    text-align: center;
  }
  
  .sectionCard:hover {
    background-color: white;
    text-decoration: none;
  }
  
  html[data-theme='dark'] .sectionCard:hover {
    background-color: white;
  }