.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 966px) {
  .heroBanner {
    padding: 2rem;
  }
}

.cardHeader {
  color: var(--ifm-color-gray-900)
}

.cardBody {
  color: var(--ifm-color-gray-700)
}